.container {
  // padding: 0;
  background-color: white;
  flex: 2;
  border-radius: 12px;
  max-width: calc(100% - 250px);

  .header {
    font-size: 20px;
    margin: 0 !important;
  }
  .list {
    list-style: none;
    padding: 0;
    margin-top: 0 !important;
    li {
      .top {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 20px;
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .bottom {
        margin-top: 2px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: 20px !important;
        height: 20px;
        column-gap: 12px;
        p {
          color: grey;
          font-size: 11px;
        }
        button {
          background-color: #ff6b00;
          border: none;
          color: white;
          border-radius: 8px;
          font-size: 11px;
           &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: #262626;
    border-radius: 0 0 12px 12px;
    justify-content: space-around;
    padding: 0 !important;
    overflow-x: scroll;
    overflow-y: hidden;
    .inner {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      column-gap: 12px;
      color: white;
      font-size: 12px;
      height: 25px;
      p{
        white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
      }
    }
  }
}



@media only screen and (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}



